VITE_API_URL=http://localhost:8000
VITE_APP_TITLE=FastShip

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:4200"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@admin.de
FIRST_SUPERUSER_PASSWORD=0000


# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

# SECURITY
AUTHJWT_ALGORITHM=HS256